body,html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}


header {
    height: 15%;
    width: 100%;
    background-color: lightgrey;
    color: red;
    text-align: center;
    font-size: 30px;
    float: left;
}

#head-link {
height: 5%;
width: 100%;
background-color: blue; 
font-size: 30px;
color: red;
text-align: center;
float: left;
}

nav {
height: 70%;
width: 10%;
background-color: green;
font-size: 30px;
color: red;
float: left;
}

#content {
height: 70%;
width: 60%;
background-color: blueviolet;
color: red;
font-size: 30px;
float: left;
}

#right {
height: 70%;
width: 30%;
background-color: green;
font-size: 30px;
color: red;
float: left;
}



footer {
    height: 10%;
    background-color: lightgray;
    width: 100%;
    color: red;
    text-align: center;
    font-size: 30px;
    float: left;
}
